header {
    background-color: #1b2a39;
}
body {
    background-color: #1b2a39;
    color: #ffffff;
}

.container {
  max-width: 992px;
}

.btn {
    background-color: #7ed4ef;
    color: #0f1e2a;
    border: none;
    padding: 10px 22px;
    font-weight: 500;
}

.btn:hover {
    background-color: #5fc3e3;
    color: #0f1e2a;
}

.btn:focus,
.btn:active {
    background-color: #5fc3e3 !important;
    box-shadow: 0 0 0 0.2rem rgba(126, 212, 239, 0.35);
}

.material-symbols-outlined {
    font-size: 48px;
    color: #7ed4ef;
}

.blue-title{
    color: #7ed4ef;
}

#diferencials {
  background:
    radial-gradient(
      circle at top center,
      rgba(46, 120, 150, 0.35),
      transparent 65%
    ),
    linear-gradient(
      180deg,
      #162633 0%,
      #1b2a39 100%
    );

  color: #ffffff;
  padding: 120px 0;
}

.border {
    border-color: rgba(255, 255, 255, 0.15) !important;
}

.avatar-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-testimonials {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-testimonials img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.border-dark {
  border-color: #000000;
}